################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arduino
/Bewerbung
/desktop.ini
/Fax
/Java/test
/oreilly_olt_cpp_software_design-main
/Scanned Documents
/Software Challenge
/Stellenausschreibung Stall.docx
/thinkcell
